mixin hotel(hotel)

  .hotel 
      .hotel-img
        a(href=`/images/${hotel.image}`)
          img(src=`/images/hotels/${hotel.image}`) 
      .hotel_info
        a(href=`/all/${hotel._id}`)
          h3 #{hotel.hotel_name}
        hr
        if url.startsWith('/all/')
          p #{hotel.hotel_desc}
          hr
        p star rating: #{hotel.star_rating}
        p country: #{hotel.country} 
        p cost per night: $ #{hotel.cost_per_night}


        echo "# hotel" >> README.md
